[mysqld]
character-set-server = utf8
default_time_zone = "+03:00"
transaction-isolation = READ-COMMITTED
sql_mode= ""
innodb_buffer_pool_size = 32M
innodb_flush_log_at_trx_commit = 2
innodb_log_file_size = 64M
innodb_flush_method = O_DIRECT
innodb_strict_mode = OFF
